@use 'config/responsive';
@use 'config/header';


body {
    main {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);

        /* image 7 */
        img {
            position: absolute;
            width: 100%;
            height: 1941px;
            left: 0px;

            background: url(image.png);
        }

        .container {
            display: grid;
            align-content: center;
            justify-content: center;
            position: absolute;
            border: hidden;
            background: rgb(255 255 255 / 0.3);
            height: 150%;
            width: 90%;
            top: 20em;
            left: 4em;

            h1 {
                position: relative;
                bottom: 10em;
            }

            .info {
                position: relative;
                bottom: 13em;
                margin: 2em 0;

                h3 {}

                .input {
                    position: relative;
                    padding: 5px;
                    display: flex;
                    height: 2em;
                    bottom: 8em;

                    input {
                        border: hidden;
                        border-radius: 1em;
                    }
                }
            }
        }

    }
}