@import url('fonts.css');

body{
    background: linear-gradient(45deg, #40261d,  rgb(188, 188, 188), #04BF9D);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
    background-color: rgb(188, 188, 188);
}

/* Style table cells to look like menu items */
td {
    font-family: "roboto";
    border: 1px solid black;
    color: #40261d;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

.option:hover {
    background-color: #40261d;
    color: rgb(188, 188, 188);
    transition: all 0.3s ease 0s;
    border-radius: 50%;
}

/* Add hover effect to table cells */


th {
    font-family: "roboto";
    border: 1px solid black;
    color: #40261d;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.title {
    background-color: #40261d;
    color: #F2F2F2;
    padding: 22px;
    font-family: "goodbrush";
}

.newdish {
    background-color: rgb(124, 128, 127);
    color: #F2F2F2;
    padding: 15px;
    font-family: "roboto";
    border-radius: 10px;
}