body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 100px;
}

.buttons {
    display: flex;
    align-items: center;
}

.svg-button svg {
    width: 22px;
    height: 28px;
    padding: 10px 10px;
    fill: #04BF9D;
}

.logInBtn {
    color: #11c720;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px 20px;
}


.svg-button {
    background: none;
    border: none;
    cursor: pointer;
}
    .background-image {
        background-image: url('../images/bgimg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .restaurant-photos {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        margin: 0 auto;
        padding: 20px;
    }


    .restaurant-photos img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        margin-top: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    }


    .restaurant-photos img:nth-child(2) {
        align-self: flex-end;
    }



    .menu-button a,
    .reservation-button a {
        text-decoration: none;
        background-color: #ffff;
        color: #11c720;
        padding: 10px 20px;
        border-radius: 10px;
        margin: 10px;
        display: inline-block;
        border-color: #ffff;
        border-style: solid;
    }

    .menu-button a:hover,
    .reservation-button a:hover {
        border-color: rgb(143, 98, 32);
    }


    .button-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .menu-button,
    .reservation-button {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
    }

    
