body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background-image {
    background-image: url('../images/bgimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    box-shadow: 0 0 30px rgba(4, 191, 157, 0.3);
    border-radius: 27%;

}

.photo-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
    position: relative;
}


.photo1 img,
.photo2 img,
.photo3 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-self: flex-start;
    margin: 0 0 -2px 0;
    margin-top: -2em;
}

.photo2 img {
    margin-left: 38em;

}

.photo3 {
    align-self: flex-start;
    margin-bottom: 2.7em;
}

.content1,
.content2 {
    text-align: center;
    position: absolute;
    width: 30%;
    font-weight: bold;
}

.content1 {
    top: 8em;
    left: 50em;
    font-family: 'GOOD BRUSH'; 
}

.content2 {
    bottom: 55em;
    left: 10em;
    font-family: 'GOOD BRUSH'; 

}

.rpoverzicht {
    background-color: #04BF9D;
}

.main-content {
    padding: 3%;
    text-align: center;
}


.main-content h1 {
    font-family: 'GOOD BRUSH';
    font-size: 24px;
    color: #fff; 
}


.main-content p {
    font-size: 18px;
    color: #666; 
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;

}

th {
    background-color: #fff;
    color: #333;
}