@import url('fonts.css');

body{
    background: linear-gradient(45deg, #40261d,  rgb(188, 188, 188), #04BF9D);  
}
/* Target the form element */
form {
    font-family: "roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    max-width: 500px;
}

/* Style the form inputs */
input[type="text"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

/* Style the form submit button */
input[type="submit"] {
    background-color: #F2F2F2;
    color: #40261d;
    margin-top: 4rem;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(4, 191, 157, 0.3);
    transition: all 0.3s ease 0s;
}

input[type="submit"]:hover {
    background-color: #40261d ;
    color:#04BF9D;
    border-radius: 50px;
    border-color: #04BF9D ;
    transition: all 0.3s ease 0s;
}

button[type="submit"] {
    background-color: #F2F2F2;
    color: #40261d;
    margin-top: 4rem;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(4, 191, 157, 0.3);
    transition: all 0.3s ease 0s;
}

button[type="submit"]:hover {
    background-color: #40261d ;
    color:#04BF9D;
    border-radius: 50px;
    border-color: #04BF9D ;
    transition: all 0.3s ease 0s;
}

.title {
    background-color: #40261d;
    color: #F2F2F2;
    padding: 22px;
    font-family: "goodbrush";
}