
body {
    font-family: Arial, sans-serif;
    background: rgb(188, 188, 188);
    margin: 0;
    padding: 0;
    text-align: center;
}

p{
    font-size: large;
}

h1 {
    color: #40261d;
}

.container {
    background-color:#F2F2F2;
    box-shadow: 0 0 10px rgba(4, 191, 157, 0.9);
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    margin-top: 5rem;

}
label {
    font-weight: bold;
}
.customer-info {
    margin-bottom: 3rem;
    border-top: 1px solid #40261d;
    padding-top: 20px;
}
.reservation-info {
    border-top: 1px solid #40261d;
    padding-top: 20px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button.edit {
    background-color: #D99F6C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button.delete {
    background-color: #690a05;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    
}

.footer {
    display: flex;
    background-color: #F2F2F2;
    padding: 10px;
    box-shadow: 0 0 10px rgba(4, 191, 157, 0.3);
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
    border-radius: 100px;
    justify-content: space-around;
}

h3 {
    margin: 30px 30px;
    padding: 20px;
    border-radius: 10px;    
}