body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(188, 188, 188);
  }


.menu {
  margin-top: 7rem;
  border-radius: 100px;
}

  nav {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    
  }

  nav a {
    color: #40261d;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
    background-color: #F2F2F2;
    box-shadow: 0 0 10px rgba(4, 191, 157, 0.2);
    border-radius: 10px;
    font-size: large;
    cursor: pointer;

  }

  nav a:hover {
    background-color: #a6633c7d;
    color: #40261d;
  }

  nav a.active {
    background-color: #a6633c7d;
    color: #40261d;
  }


  h1, h2 {
    text-align: center;
  }
  
  h2{
    padding-top: 3rem;
  }

  .menu-container {
    display: none;
    animation: fade-in 0.5s ease-in-out;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(4, 191, 157, 0.9);
    width: 90%;
    margin-left: 5rem;
    background-color:#a6633c7d;
  }

  .menu-container.active {
    display: block;
  }

  .menu-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menu-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(4, 191, 157, 06);
    margin: 5rem;
  }

  .menu-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.menu-item .marks {
  width: 10%;
}