body {
    font-family: Arial, sans-serif;
    background: rgb(188, 188, 188);
    margin: 0;
    padding: 0;
    text-align: center;
}

.bg {
    position: absolute;
    top: 30px;
    left: -190px;
    width: 90%;
    height: 100%;
    background-image: url(/images/bg1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 100px; /* Adjust the border radius as needed */
    z-index: -1;
    margin: 17rem;
    opacity: 0.4;
}

h1 {
    color: #40261d;
}
h3 {
    margin: 30px 30px;
    padding: 20px;
    border-radius: 10px;    
}

.form-container {

    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 100px
}

form {
    background-color: rgba(255, 255, 255, 0.50);
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(4, 191, 157, 0.3);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #40261d;
    font-size: larger;
}

p{
    color: #40261d;
    font-size: larger;
}

.error {
    color: red;
}

select, input[type="number"], input[type="date"], input[type="time"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #04BF9D;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button {
    color: #40261d;
    background-color: #F2F2F2;
    border: 2px solid #04BF9D;
    box-shadow: 0 0 10px rgba(4, 191, 157, 0.3);
    transition: all 0.3s ease 0s;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #40261d;
    color: #04BF9D;
    border-radius: 50px;
    border-color: #04BF9D;
    transition: all 0.3s ease 0s;
}

