.navbar {
    position: absolute;
    width: 1440px;
    height: 181px;
    left: 0px;
    top: 0px;
}

.logo {
    position: relative;
    max-width: 216px;
    height: 162px;
    left: 16px;
    top: 10px;
    background: url('../img/logo.png');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* .loginicon {
    position: absolute;
    left: 92.57%;
    right: 3.26%;
    top: 2.6%;
    bottom: 95.18%;
    background: #04BF9D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */




.loginbutton {
    position: relative;
    box-sizing: border-box;
    display: block;
    margin: 2%;
    left: 1580px;
    width: 163px;
    height: 55px;
    border: 2px solid #D99F6C;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: flex;
    color: #04BF9D;
}


.background-image {
    position: relative;
    max-width: 100%;
    height: 1440px;
    left: 200px;
    top: 526px;
    background: url('../img/bgreserveren.png');
    z-index: -1;
}
